{% extends 'base.html.twig' %}

{% block title %}Create a New Record | {{ parent() }}{% endblock %}
{% block body %}
<h1>{{ title }}</h1>

{#  TODO: Add an image of the record #}

Track List:
<ul>
    {% for track in tracks %}
        <li>{{ track.song }} - {{ track.artist | upper }}</li>
    {% endfor %}
</ul>
{% endblock %}
